img {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.content {
  h1 {
    margin-top: 100px;
    font-size: 36px;
    padding-bottom: 12px;
    text-align: left;
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 40px;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    text-transform: none;
    color: #333333;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 0;

    .cme-group {
      color:#0071BA
    }

    .trove-app {
      color: #00BFA6;
    }

    .wavelink {
      color: #7C47E8;
    }
  }

  h4 {
    font-size: 16px;
    color: #333333;
    margin: 0;
    padding-top: 15px;
    margin-bottom: -4px;
  }

  a {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    color: #333333;
    line-height: 28px;
    /* padding-bottom: 15px; */
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
  }

  p, li, a {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    line-height: 23px;
  }

  .tag {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
  }

  li {
    margin-left: 30px;
  }

  .colored-divider {
    height: 4px;
    width: 60px;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  p.description {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 22px;
  }

  .spec-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;

    .title {
      color: #000000;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
    }

    .timeline {
      width: 30%;
    }

    .tools {
      width: 30%;
    }

    .team-members {
      width: 30%;
    }
  }

  
}

.cme-group {
  .colored-divider {
    background-color: #0071BA;
  }

  h3 {
  color:#0071BA
  }
}

img#cme-arch{
  margin-bottom: -50px;
}

@media screen and (min-width: 720px) {
  img#cme-arch{
    margin-bottom: -90px;
  }
}

.trove-app {
  .colored-divider {
    background-color: #00BFA6;
  }

  h3 {
  color:#00BFA6
  }
}

.trove-website {
  .colored-divider {
    background-color: #2698EF;
  }

  h3 {
  color:#2698EF;
  }
}

.wavelink {
  .colored-divider {
    background-color: #7C47E8;
  }

  h3 {
  color:#7C47E8;
  }
}

.finie {
  .colored-divider {
    background-color: #EFC31A;
  }

  h3 {
  color:#EFC31A;
  }
}

.clinc {
  .colored-divider {
    background-color: #2E2E2E;
  }

  h3 {
  color:#2E2E2E;
  }
}
