.footer {
  max-width: 900px;
  margin: 0 30px;
  margin-top: 50px;
  overflow: hidden;
  padding: 35px 0;
  text-align: center;


  .made-with-love {
    font-family: 'Lato', sans-serif;
    color: #000;
    display: block;
    font-size: 16px;

    .heart {
      color: #EA6992;
    }
  }

  .social {
    display: inline-block;
    float: none;
    margin-top: 15px;

    img {
      float: left;
      width: 30px;
      top: 50%;
      height: 30px;
      margin-left: 15px;
      margin-right: 15px;
      transition: .1s ease-in-out;
    }

    img:hover {
      opacity: .9;
    }
  }
}

@media screen and (min-width: 960px) {
  .footer {
    margin: 0 auto;
    margin-top: 150px;
  }
}

@media screen and (min-width: 900px) {
  .footer {

    .made-with-love {
      float: left;
    }

    .social {
      float: right;
      margin-top: 0px;

      img {
        margin-left: 30px;
        margin-right: 0;
      }
    }
  }
}

