head
  link(rel='stylesheet', href='/css/footer.css')
footer
  .footer
    p.made-with-love Made with <span class="heart">❤︎</span> by Hana Coon.

    .social
      a(href="mailto:hanacoon@umich.edu")
        img(src="/images/mail.svg")
      a(href="https://www.linkedin.com/in/hanacoon/" target="_blank")
        img(src="/images/linkedin.svg")
      a(href="https://github.com/hanacoon" target="_blank")
        img(src="/images/github.svg")
