head
  link(rel='stylesheet', href='/css/nav.css')
  script(src='/scripts/nav.js')
nav
  .navbar
    span.navbar-toggle#js-navbar-toggle ☰
    a.logo(href="/")
      h1 Hana Coon
    ul.main-nav#js-menu
      li
        a.animate.nav-links(href="/") WORK
      li
        a.animate.nav-links(href="/illustrations") ILLUSTRATIONS
      li
        a.animate.nav-links(href="/visual-design") VISUAL DESIGN
      //li
        //a.animate.nav-links(href="/contact") CONTACT