extends layout.pug

block content
  .content
    link(rel='stylesheet', href='/css/case-study.css')
    h1 CSDT UX Research Project
    p The final writeup for a User Experience research project about the Culturally Situated Design Tools website.
    p This project was conducted for SI 432 in U-M's School of Information.
    h2 Introduction
    p The African Fractals portion of the CSDT website is an incredible batch of content and tutorials for any student who wants to learn about how fractal geometry is incorporated into African culture, architecture, art, religion, and more.
    p My goal with this research project is to explore the areas of the site where improvements can be made in order to make the content and tutorials even more digestible, allowing even more students to be impacted by Professor Ron Eglash and his team’s incredibly comprehensive hub of knowledge.
    h2 User Research & Analysis
    h3 Data Collection Plan
    p It was very important for me to obtain the fresh perspective of users who are unfamiliar with the site. Additionally, it was important for me to speak directly with the students that the African Fractals portion of the site is targeting: upper high school students.
    p I was able to recruit a total of three participants who fit this criterion to each participate in a remote usability testing session. For these testing sessions, each participant was provided with a list of tasks and questions to answer that revolved around the African Fractals portion of the CSDT website. I obtained screen and audio recordings of each test which allowed me to re-watch and pluck out the important bits of information for the analysis portion of my research.
    p Unsurprisingly, this left with me with quite a bit of user data to comb through. To make sense of it, I began by following my favorite model of UX data organization and categorization, developed by an ex-VP of User Experience at WeWork, Tomer Sharon. His model is based on the idea that research artifacts like transcripts and screen recordings are not the most useful units of user experience data. Instead, his model looks at things even more granularly. He refers to these granular research insights as “nuggets,” single observations made by users that are gathered through research. Each of these nuggets are then added to a database and tagged with important information that make them easily searchable and capable of being grouped together. I tagged my nuggets to convey two different metrics:
    p •    Which portion of the site the user’s insight was referring to.
    p •    Whether their insight was a positive one, a negative one, a neutral statement, or a suggestion.
    p After plucking out these insights from all three of my participant’s user tests, I ended up with a comprehensive database of user insights that I was able to group and categorize in order to develop my findings and work toward a conclusion.
    h3 The Positive
    img(src="images/csdt-1.png")
    h3 The Negative
    img(src="images/csdt-2.png")
    h3 Suggestions
    img(src="images/csdt-3.png")
    h3 What's Working
    p Based on the positive feedback nuggets, there are a few things that are obviously working well and don’t need to change. Across the board, all of the participants thought that the site itself was straightforward and easy to navigate. While participant three explicitly mentioned that the simulation instructions were helpful, all of the participants resorted to using the simulator instructions at some point throughout each of their tests.
    h3 What's Not Working
    p Based on this user feedback alone, I was able to determine a few things that were not working for users. The first and most significant issue that users had was with the embedded simulators. All of the users had trouble navigating the editing interface, and it often behaved unexpectedly. One user, when he had forgotten that he had to click again to place a node back on the canvas, anxiously exclaimed he “can’t let go of it!” Additionally, users relied heavily on the simulator instructions. One user mentioned that he wished the instructions were located above the simulator so that he would be more naturally inclined to read them before trying to mess with it. 
    p This user testing and my analysis of their insights helped inform my next steps.
    h3 Content Research & Analysis
    p After feedback from my user testing indicated that users were struggling with the way content was laid out on some portions of the African Fractals section, I decided to do an analysis of all of the content itself in order to determine the areas that needed improvement. 
    p To represent the site’s content, I used three different colored sticky notes. The yellow ones labeled each page, and the blue and pink ones represented what I’ll refer to as “blocks.” The blue sticky notes represent content blocks and the pink represent a portion of the page with an embedded simulation.
    img(src="images/csdt-4.png" style="max-width: 60%; margin-top: 20px; margin-bottom: 20px")
    p The first thing I noticed was that there was a huge difference in the quantity of blocks per page. Some pages required a great deal of scrolling and had 18 content blocks, while some were significantly smaller, with only two or three blocks of content. Multiple users mentioned being annoyed with the amount of scrolling they had to do.
    img(src="images/csdt-5.png" style="max-width: 40%; margin-top: 30px; margin-bottom: 30px")
    p I then wanted to see what the layout of content looked like if the embedded, inline simulations were removed. This evened things out a bit and created a more streamlined distribution of content among the pages.
    img(src="images/csdt-6.png" style="max-width: 40%; margin-top: 30px; margin-bottom: 30px")
    h2 Findings & Recommendations
    p My research has left me in a position where I don’t believe an entire overhaul of the African Fractals section of the CSDT is necessary. However, there are three key areas where I believe improvements can be made in order to make the biggest impact on the site’s users. I’ve outlined my proposed changes and mocked up some potential design ideas in the following sections. 
    h3 The Simulator
    p My first recommendation involves a multitude of small changes to the software simulations that are embedded within each page. 
    p Embedding a new simulation block every time it is needed creates massively long pages and lots of effort for the user in order to scroll through everything. A solution to this would be to make a single, “sticky” simulator component on each page that always remains in one spot. The rest of the page content would be scrollable, and the simulator component would switch to show the correct seed curve based on where in the content the user has scrolled to.
    p •    The nodes in ‘Edit Mode’ have actual circles on them and look more “clickable.”
    p •    The user is reminded when they click on a node that they need to click again in order to place it back down.
    p •    The iteration section has been simplified and ‘iteration’ is written out fully instead of being abbreviated.
    p All of the functions are shown at once, but when you’re switching between ‘Edit Mode’ and ‘Iteration Mode,’ the functions become active or inactive. This allows users to see, at all times, which mode they need to be in.
    img(src="images/csdt-7.png" style="margin-top: 20px; margin-bottom: 20px")
    h3 Content Reorganization
    p While the “sticky” simulator mentioned above solves a lot of the issues with having an unbalanced and overwhelming amount of content on each page, there’s a bit more that could be done in order to organize the content more clearly and evenly.
    p Since the ‘Fractals in Science’ page is especially long, I would recommend placing some of the most basic content about fractal geometry on the ‘Background’ or ‘Origins’ page instead. This would even things out and potentially provide more context to users who initially land on the ‘Background’ page, as all three of my participants mentioned that it would help them to have more information on that page in particular.
    
    h3 Content Reorganization
    p While the “sticky” simulator mentioned above solves a lot of the issues with having an unbalanced and overwhelming amount of content on each page, there’s a bit more that could be done in order to organize the content more clearly and evenly.
    p Since the ‘Fractals in Science’ page is especially long, I would recommend placing some of the most basic content about fractal geometry on the ‘Background’ or ‘Origins’ page instead. This would even things out and potentially provide more context to users who initially land on the ‘Background’ page, as all three of my participants mentioned that it would help them to have more information on that page in particular.
    h3 Minor UX Improvements
    p There are a few additional user interface improvements that could be made in order to make the experience more enjoyable for users.
    p With so much content to read through, it’s helpful to provide users with some sort of progress indicator that represents how far they’ve already scrolled and how much more content they have to get through. Visual progress indications gamify the experience for the user and incentivize the consumption of content.
    img(src="images/csdt-8.png" style="margin-top: 20px; margin-bottom: 20px")
    p Most of my participants became confused at one point or another when they forgot which page they were on and were unable to immediately see their current location. By simply highlighting the user’s current page in the left navigation menu, this issue can be easily avoided.
    img(src="images/csdt-9.png")
    p Lastly, to help users navigate the content within each page, it would be helpful to add one more layer of sub-pages to the left navigation menu.
    img(src="images/csdt-10.png" style="max-width: 50%; margin-top: 20px; margin-bottom: 10px")
    h2 Conclusion
    p I really enjoyed the opportunity to combine my user experience design and research abilities with the material from this class. While building out these changes is an entirely different beast, I hope that the research data and recommendations I’ve presented here provide a decent starting point for future work on the African Fractals portion of the CSDT site.