extends layout.pug

block content
  .content
    link(rel='stylesheet', href='/css/case-study.css')
    h1 Follow the Money Chrome Extension
    p A Google Chrome extension that changes all the names of the 20 members of Congress who receive the most NRA-funding to include exactly how much of the NRA's money they've each pocketed.
    p I created this in response to the 2018 Stoneman Douglas High School shooting and it reached #5 on Product Hunt that day.
    img(src="images/ftm-1.png" style="margin-top: 30px; margin-bottom: 30px")
    img(src="images/ftm-2.png" style="max-width: 50%; margin-top: 70px; margin-bottom: 70px")
    img(src="images/ftm-3.png" style="margin-top: 30px; margin-bottom: 30px")