extends layout.pug

block content
  .content
    h1 Illustrations
    link(rel='stylesheet', href='/css/image-grid.css')

  .content
    .col-1
      img(src="images/fall-fashion.png")
      img(src="images/chicago.png")
      img(src="images/lakeland.png")
      img(src="images/give-back.png")
      img(src="images/gun.png")

    .col-2
      img(src="images/monster.png")
      img(src="images/jazz.png")
      img(src="images/home.png")
      img(src="images/hams.png")
      img(src="images/rocket.png")

      
      