extends layout.pug
block content
  link(rel='stylesheet', href='/css/homepage.css')

  //.content
  //  h2.intro <span class="blue">UX Design</span> student at the University of Michigan <a href="https://www.si.umich.edu/" target="_blank"><span class="underline">School of Information.</span></a> <span class="blue"><br>Designer</span> at <a href="https://clinc.com/" target="_blank"><span class="underline">Clinc.</span></a> 

  .content.home-section
    h1 WORK

  .content.work
    a(href="/finie")
      div.container.square.left(style="background-image: url(/images/finie.png);")
        div.hover-square(style="background-color: #EFC31A")
          .hover-text 
            .title Clinc Personal Finance Manager, "Finie"
            .divider —
            .type UX Design
    a(href="/trove-website")
      div.container.square.right(style="background-image: url(/images/dotcom.png);")
        div.hover-square(style="background-color: #2396EE")
          .hover-text 
            .title Trove Website & Content Management System
            .divider —
            .type Front-End Dev

  .content.work
    a(href="/clinc-website")
      div.container.square.left(style="background-image: url(/images/clinc.png);")
        div.hover-square(style="background-color: #2E2E2E")
          .hover-text 
            .title Clinc Rebrand & Website Redesign
            .divider —
            .type Web Design
    a(href="/trove-app")
      div.container.square.right(style="background-image: url(/images/trove.png);")
        div.hover-square(style="background-color: #00BFA6")
          .hover-text 
            .title Trove App
            .divider —
            .type UX Design

  .content.work
    a(href="/wavelink")
      div.container.square.left(style="background-image: url(/images/wavelink.png);")
        div.hover-square(style="background-color: #6E29FF")
          .hover-text 
            .title Wavelink App
            .divider —
            .type UX Design
    a(href="/cme-group")
      div.container.square.right(style="background-image: url(/images/cme.png);")
        div.hover-square(style="background-color: #113157")
          .hover-text
            .title CME Group Intelligent Order Injector Software
            .divider —
            .type Back-End Dev

  .content.home-section
    h1 MORE

  .content.work
    a(href="/visual-design")
      div.container.rectangle(style="background-image: url(/images/visual-design.png); background-position: left;")
        div.hover-square(style="background-color: #D4A992")
          .hover-text 
            .title Visual Design
    a(href="/illustrations")
      div.container.rectangle(style="background-image: url(/images/illustrations.png); background-position: right;")
        div.hover-square(style="background-color: #D4B63E;")
          .hover-text 
            .title Illustrations

  .content.other
    .other-project
      a.title(href="/mpowered") MPowered Entrepreneurship
      .tags
        .tag Graphic Design
        span.dot •
        .tag Web Design
        span.dot •
        .tag Front-End Dev
    .other-project
      a.title(href="/csdt") CSDT UX Research
      .tags
        .tag UX Research
    .other-project
      a.title(href="/insulearn") Insulearn
      .tags
        .tag UX Design
    .other-project
      a.title(href="/follow-the-money") Follow the Money
      .tags
        .tag Front-End Dev