extends layout.pug

block content
  .content.insulearn
    link(rel='stylesheet', href='/css/case-study.css')
    h1 Insulearn iPad App
    p A case study outlining the design of an iPad app designed for newly diagnosed children with type 1 diabetes.
    p Designed as a project for the U-M Center for Entrepreneurship's Digital Product Design class.
    img(src="images/insulearn-1.png" style="margin-top: 30px;")
    h2 Problem Statement
    p Newly diagnosed children with type 1 diabetes want a fun and interactive game/activity that explains type 1 diabetes in simple (and not-so-scary) terms so they can learn about their diagnosis while keeping themselves occupied and distracted during the first few days they are stuck in the hospital.
    h2 Who's It For?
    p The first few days after a type 1 diabetes diagnosis are often spent in the hospital. During this time, the newly diagnosed child usually feels very sick, scared, and overwhelmed. On top of all that, they are bombarded with tons of information on what type 1 diabetes is and how their lives are about to change in order to care for themselves. This app is meant to alleviate some of those overwhelming feelings as it conveys much of the same educational information in a fun, calming, and interactive way.
    h2 The Design Process
    h3 The Storyline
    p As the older sister of a type 1 diabetic, I knew quite a bit about type 1 diabetes already. However, I had to thoroughly research how to best put things in terms that younger children would understand. After that, I drafted the entire storyline for the prototype and wrote all of the copy.
    h3 The Colors
    p I knew I wanted a color scheme revolving around the color blue, as it is the color that universally represents type 1 diabetes. I also chose kid-friendly colors in muted tones to create a sense of relaxation and calmness.
    h3 The Characters
    img(src="images/insulearn-2.png")
    p It was extremely important for me to create genderless characters in order to appeal to the widest variety of children. You can see here how one of the whimsical characters made its way from the drawing board to a vectorized illustration using both Adobe Draw and Adobe Illustrator. Variations of the main character were created to convey a range of emotions.
    h2 The Finished Prototype
    p Using Sketch, I compiled all of the above components into a finished prototype with 20 different screens and working interractions. As the storyline progresses, checkpoints are placed intermittently to make sure the user is understanding the information. The end of the game provides tales of inspiring feats accomplished by people with type 1 diabetes and assures the newly diagnosed user that anything they could do without type 1 diabetes, they can do with it.
  