extends layout.pug

block content
  .content
    link(rel='stylesheet', href='/css/case-study.css')
    h1 MPowered Website
    h2 About
    p The final design for the webpage that served as MPowered Entrepreneurship's hub of resources for recruiting new members for the 2018-2019 school year.
    img(src="images/mpow-recruiting.png")
    
    h1 1000 Pitches Website
    h2 About
    p The final design for the 1000 Pitches website: a month-long, campus-wide pitch competition held at the University of Michigan.
    img(src="images/1000-pitches-site.png")