extends layout.pug

block content
  .content
    link(rel='stylesheet', href='/css/case-study.css')
    h1 The Arb App Wireframes
    h2 About
    p High-fidelity wireframes for a hypothetical mobile app designed for 'The Arb' in Ann Arbor.
    p Designed as a project for SI 320 in U-M's School of Information.
    img(src="images/arb-1.png")
    img(src="images/arb-2.png")
    img(src="images/arb-3.png")
    img(src="images/arb-4.png")
    img(src="images/arb-5.png")
    img(src="images/arb-6.png")
    img(src="images/arb-7.png")