extends layout.pug

block content
  .content
    h1 Visual Design
    link(rel='stylesheet', href='/css/image-grid.css')
  
  .content
    .col-1
      img(src="images/day001.png")
      img(src="images/nataland.png")
      img(src="images/aerolite.png")
      img(src="images/blue-bop.png")
    
    .col-2
      img(src="images/panda.png")
      img(src="images/arb-logo.png")
      img(src="images/whoosh.png")
