extends layout.pug

block content
  .content.wavelink
    link(rel='stylesheet', href='/css/case-study.css')
    h1 Wavelink
    .tag UX Design
    .colored-divider
    p.description The connectedness that people feel during shared listening experiences isn’t possible when listeners aren’t in the same place. Wavelink creates a digital listening space for friends to discuss and discover music together in real time.
    img(src="images/wavelink-header.png")

    .spec-section
      .timeline
        p.title Timeline
        p September 2019 - December 2019
      .tools
        p.title Tools
        p Figma, Sketch
      .team-members Team Members
        p Jorge Cazares
        p Michael Rigney
        p Kenton Hoffman
        

  .content.wavelink
    h2 The problem (and why we wanted to solve it).
    p Listening to music can be a social activity. However, you can’t always pop one side of your headphones into a friend’s ear to share a song together or bust out a bluetooth speaker to share a new artist with a group of friends.
    p Streaming platforms fall short in creating the same sense of group identity that in-person listening sessions do. On streaming platforms such as Spotify, users can share songs with one another and create public playlists. However, users cannot listen to music together in real time. Radio stations already do this to an extent, but these listening experiences are marred by unskippable advertisements and a limited variety of music.
    p There are a few services out there now that attempt to solve this problem. However, most of them try to cram too many features in and spread themselves too thin, performing many tasks poorly instead of a few tasks really well.
    p Problem Statement: Music lovers want a way to simultaneously listen to music with others even if they are not physically together in order to foster unifying and engaging shared experiences.
    
    h2 Getting to know our users.
    p The first step in designing anything is understanding its users. We conducted persona-development, scenario-building, and storyboarding in order to explore the behavior and goals of our users from multiple perspectives.
    h3 User Personas
    p We first developed a few personas of sample users that were emblematic of our target audience. We made sure they illustrated a wide range of user needs, motivations, and habits. The one characteristic shared among all personas was their familiarity with streaming services for listening to music.
    h3 Primary Personas
    h4 Fernando
    img(src="images/fernando.png" style="margin-top: 30px; margin-bottom: 20px; width: 90%; box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.29);")
    h4 Chad
    img(src="images/chad.png" style="margin-top: 30px; margin-bottom: 20px; width: 90%; box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.29);")
    h3 Secondary Personas
    h4 Ariana
    p Ariana represents someone who is familiar with streaming services but prefers to play songs downloaded on her phone or stored locally on her computer.
    img(src="images/ariana.png" style="margin-top: 30px; margin-bottom: 20px; width: 90%; box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.29);")
    h4 Olivette
    p Olivette represents an aspiring artist struggling to connect with her audience and expand her fanbase.
    img(src="images/olivette.png" style="margin-top: 30px; margin-bottom: 20px; width: 90%; box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.29);")
    h3 User Stories
    p We then wrote user stories for two of our personas that better abstracted each user and their pain points.
    h4 Scenario 1
    p <span style="font-style: italic;">Fernando has been in a relationship since the beginning of his junior year of high school. He met his boyfriend Eric while playing bass in his high school’s jazz band. From the start, he and Eric have bonded over their tastes in music. They used to write music together, attend festivals, and share newly discovered music with one another, but now that they’re attending separate universities, those activities are nonexistent. Fernando is having difficulty adjusting to the distance. 
    p <span style="font-style: italic;">Fernando just finished his last class of the day. He missed Eric’s call a few hours ago when he was in study group and wants to chat with him before tackling his homework for the night. He picks up his phone and dials Eric’s number, but the call goes to voicemail. This is the third day in a row that they’ve missed each other’s calls, and Fernando is beginning to feel quite distant from Eric. Longing for a sense of closeness to his boyfriend, he checks his phone to see if Eric ever responded to the song he sent him. They’ve always bonded over sharing music with one another, but now that they’re not in the same place, their shared songs are usually forgotten. He queues up a few of his and Eric’s favorite songs, puts his headphones on, and begins reading his public policy reading. 
    h4 Scenario 2
    p <span style="font-style: italic;">Olivette is a singer from Portland, Oregon, who aims to be the next biggest rock star. Over the past few years, she has been producing tracks with her alternative rock band and has gathered a small following on Soundcloud. She wants to interact with her closest fans so that they are more likely to recommend her music to their friends. She has been performing on the streets and in bars, but she wants to meet her international fans who cannot travel to Portland to see her perform. Originally from Australia, she feels distant from her home and longs to return one day as a world-renowned artist with sold-out concerts. She’s constantly sharing stories on Instagram and Twitter so followers can hear snippets of her latest work. 
    p <span style="font-style: italic;">She starts an Instagram Live session one afternoon planning to debut a new song she has been working on. After two minutes, no one has joined her stream. She waits a few more minutes, but she begins losing motivation to play her new song. Olivette ends up playing one of her old songs for the people who eventually join the stream. She feels that there has to be a way to stay connected with her fans. Are they losing interest? Have they forgotten about her? She turns off her phone and heads to band practice — she’s late for the second time this week.
    h3 Storyboards
    p Finally, we created storyboards that visually capture how the users in each of the above scenarios might find value in and react to our app.
    img(src="images/storyboards.png" style="margin-top: 30px; margin-bottom: 20px; width: 80%;")
    h2 Exploring potential solutions & making everything “flow.”
    h3 User Flows
    p Before sitting down to build any wireframes, we created a visual mapping of the various flows our users would take through the different screens of our app.
    h3 Wireframing
    p Finally, with the user flows established, we started thinking about the screens themselves. We used a whiteboard to brainstorm and discuss our ideas while sketching them out on a whiteboard. While the others were sketching, one of us remained seated and used Figma to create digital wireframes of any ideas we decided to run with.
    img(src="images/wireframes-1.png" style="margin-top: 30px; margin-bottom: 20px; width: 90%;")
    img(src="images/wireframes-2.png" style="margin-top: 30px; margin-bottom: 20px; width: 90%;")
    img(src="images/wireframes-3.png" style="margin-top: 30px; margin-bottom: 20px; width: 90%;")
    h3 Paper Prototyping
    p We then created a paper prototype to use for testing purposes. Since we were using something so low-fidelity and unpolished, we were able to elicit more honest feedback from the users we tested with. Here’s an example of our paper prototype in action:
    p 
      a(href="https://drive.google.com/open?id=1f-A-0i29FJdwUgxJyR9TG72LvMViehmj" target="_blank") Paper Prototype
    p Testing with our paper prototype revealed a few things. The first: we had completely forgotten to include back buttons in the first iteration of our prototype. Allowing users to go back and adjust things on previous screens is pretty standard functionality, so we were surprised we had forgotten to include it. This was a great lesson in the values of user testing: it doesn’t just expose just the small usability flaws but the more glaring issues as well.
    p We also reflected on how we facilitated our paper prototype user tests themselves. During our first test, the participant was able to complete the tasks we gave her with little to no help. While this could have been an indicator of an intuitive user flow, we realized we had been too specific when delivering the instructions, which explained why the first test had gone so smoothly. In the two tests that followed, our facilitator made sure to give more open-ended directions so that we could get a better idea of how users understood our app.  
    h2 The culmination of all of the above.
    h3 The final solution.
    p Our app, Wavelink, creates a digital space for friends who aren’t in the same location to discuss and discover music together in “sessions” that they’ve either created themselves or joined. Each session has a queue of music that can be added to and modified as everyone listens, and users can chat with each other about what they’re hearing.
    img(src="images/wavelink-final.png" style="margin-top: 30px; margin-bottom: 20px;")
    h3 Features
    h4 Creating a Session
    p Users create personalized listening sessions by queueing music, inviting listeners and adjusting settings.
    img(src="images/session-settings.gif" style="margin-top: 40px; margin-bottom: 40px; width: 30%; box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.29);")
    h4 Joining a Session
    p Users can join public sessions created by those they’re following as well as receive invites to private sessions.
    img(src="images/join-session.gif" style="margin-top: 40px; margin-bottom: 40px; width: 30%; box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.29);")
    h4 Queuing Music
    p Tracks can be added to the queue throughout the duration of a session.
    img(src="images/queue.gif" style="margin-top: 40px; margin-bottom: 40px; width: 30%; box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.29);")
    h4 Messaging
    p Users are able to bounce their thoughts and feelings off of one another as though they are in the same space.
    img(src="images/chat.gif" style="margin-top: 40px; margin-bottom: 40px; width: 30%; box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.29);")